<div class="w-full h-screen grid grid-rows-1 justify-items-center">
  <div class="w-[50%] pt-4 pb-4 h-full rounded-md grid grid-rows-[auto_auto_auto_1fr]">
    <h2 class="text-[2.5rem] h-[5rem] pt-2 pb-2 text-main w-full text-center">
      Load Filter
    </h2>
    @if (authService.IsLogged()) {
      <div class="w-full flex gap-2 justify-center">
        <div class="border rounded-md border-main mt-2 bg-[#1A1A1AFF] text-main w-[6rem] h-[3.5rem] flex justify-center items-center text-[1.2rem]
          shadow-card uppercase cursor-pointer hover:border-mainBright hover:text-mainBright" [attr.game]="FilterGame.POE1" (click)="SelectGame($event)" #gameSelectCard>
          PoE1
        </div>
        <div class="border rounded-md border-main mt-2 bg-[#1A1A1AFF] text-main w-[6rem] h-[3.5rem] flex justify-center items-center text-[1.2rem]
          shadow-card uppercase cursor-pointer hover:border-mainBright hover:text-mainBright" [attr.game]="FilterGame.POE2" (click)="SelectGame($event)" #gameSelectCard>
          PoE2
        </div>
      </div>
      <li class="relative p-2 pl-4 pr-4 m-2 mt-6 rounded-md bg-gradient-to-br from-[#333F] to-[#222F] text-[4rem] text-main 
      list-none hover:from-[#3A3A3AFF] hover:to-[#2A2A2AFF] shadow-card" #createWrapper>
        <form id="filter-create-form" class="text-[1rem] grid gap-y-2" [formGroup]="createFilterForm" (submit)="CreateFilter($event)">
          <h3 class="text-[1.3rem] flex justify-center mb-2">Create Filter</h3>
          <div class="flex gap-2 justify-center">
            @for (strictness of availableStrictnesses; track $index) {
              <div class="border rounded-md border-main  bg-[#1A1A1AFF] text-main w-[96px] h-[42px] flex justify-center items-center text-[1rem]
              shadow-card uppercase cursor-pointer hover:border-mainBright hover:text-mainBright" [attr.strictness]="strictness" (click)="SelectStrictness($event)" #filterStrictness>
                {{GetStrictnessString(strictness)}}
              </div>
            }
          </div>
          <div class="grid">
            <label class="text-[0.9rem]">Name</label>
            <input class="w-[12rem] rounded-md outline-none pl-2 text-black" [formControl]="createFilterForm.controls.name">
          </div>
          <div class="w-full flex justify-end gap-x-2">
            <button type="button" class="bg-main hover:bg-mainBright relative text-[1rem] text-dark rounded-md w-fit p-1 pl-4 pr-4 
            uppercase shadow-[2px_2px_2px_0px_#0005]" (click)="CancelCreateFilter($event)">Cancel</button>
            <button type="submit" class="bg-main disabled:bg-[#777F] hover:bg-mainBright relative text-[1rem] text-dark rounded-md w-fit p-1 pl-4 pr-4 
            uppercase shadow-[2px_2px_2px_0px_#0005]" [disabled]="!createFilterForm.valid">Create</button>
          </div>
        </form>
      </li>
    } @else {
      <li [style]="{height: '6rem'}" class="relative p-2 pl-4 pr-4 m-2 rounded-md bg-gradient-to-br from-[#333F] to-[#222F] text-[4rem] text-main 
      list-none cursor-pointer hover:from-[#3A3A3AFF] hover:to-[#2A2A2AFF] shadow-card" (click)="Login()">
        <span id="filter-create-icon" class="absolute top-[50%] left-[50%] text-[1.5rem] translate-x-[-50%] translate-y-[-50%]">Login</span>
      </li>
    }
    <ul class="w-full grid gap-y-4 p-2 auto-rows-[6rem]">
      @for (filter of filters; track filter.id) {
        <li class="p-2 pl-4 pr-4 rounded-md bg-gradient-to-br from-[#333F] to-[#222F] h-[6rem] shadow-card
        cursor-pointer hover:from-[#3A3A3AFF] hover:to-[#2A2A2AFF]" (click)="LoadFilter(filter.id)">
          <div class="grid grid-cols-[1fr_auto]">
            <h3 class="text-main text-[1.5rem]">
              {{filter.name}}
            </h3>
            <p class="text-[#CCCF]">
              {{GetTimeDif(filter.modifiedAt)}}
            </p>
          </div>
          <div class="flex mt-2 justify-end gap-x-4">
            <button class="bg-main hover:bg-mainBright text-[1rem] text-dark rounded-md w-fit p-1 pl-4 pr-4 
            uppercase shadow-[2px_2px_2px_0px_#0005]" (click)="DeleteFilter($event, filter.id)">Delete</button>
          </div>
        </li>
      }
    </ul>
  </div>
  
</div>