@if (viewService.View() === AppView.FILTER_LOAD) {
  <app-load-filter-page/>
} @else {
  <div class="grid grid-cols-[15rem_calc(100vw-15rem)] h-[100vh] w-[100vw] overflow-hidden">
    <app-side-menu/>
    @switch (viewService.View()) {
      @case (AppView.USER_ADMIN) {
        <app-user-admin-view/>
      }
      @case (AppView.FILTER_STYLES) {
        
      }
      @case (AppView.FILTER_EXPORT) {
        <app-filter-export-view/>
      }
      @default {
        <div class="w-full h-full p-8">
          <app-filter-view/>
        </div>
      }
    }
  </div>
}