<app-expandable-header>
  <div class="flex gap-x-2 items-center" heading>
    <span class="material-symbols-outlined text-[2.5rem]">
      lists
    </span>
    <span draggable="false">{{ruleBlock().name}}</span>
    <span class="material-symbols-outlined text-[1.8rem] hover:text-[#333F]" (click)="Edit($event)" draggable="false">
      edit
    </span>
    <span class="material-symbols-outlined text-[1.8rem] hover:text-[#333F]" (click)="Delete($event)" draggable="false">
      delete
    </span>
  </div>

  <div class="pl-4 pr-4" content>
    @if (!isInEditMode()) {
      <div id="filter-rule-drag-target" [attr.data-block]="blockId" [attr.data-ruleBlock]="ruleBlock().id" class="w-full grid justify-items-center pt-3 pb-3 h-fit" 
      [attr.data-dragPosition]="0">
        <div class="w-[90%] h-[1px] pointer-events-none"></div>
      </div>
      @for (rule of ruleBlock().rules; track $index) {
        <div class="w-full">
          <app-filter-rule-structure [rule]="rule" (delete)="OnRuleDelete($event)"/>
          <div id="filter-rule-drag-target" [attr.data-block]="blockId" [attr.data-ruleBlock]="ruleBlock().id" class="w-full grid justify-items-center pt-3 pb-3 h-fit" 
          [attr.data-dragPosition]="$index + 1"> <!--(dragover)="OnDragOver($event)" (dragleave)="OnMouseLeave($event)"-->
            <div class="w-[90%] h-[1px] pointer-events-none"></div>
          </div>
        </div>
      }
      <div id="filter-rule-heading" class="h-[3rem] mb-[calc(1.5rem+1px)] text-[1.5rem] text-dark bg-main w-full rounded-md flex items-center justify-center 
      pl-4 hover:bg-mainBright cursor-pointer" (click)="CreateRule()">
        Create Rule
      </div>
    } @else {
      <div class="p-2 text-main border border-t-0 m-[0.3rem] gap-2 mt-0 bg-[#222F] border-main rounded-b-md shadow-card">
        <app-rule-block-settings-form [ruleBlock]="ruleBlock()" (close)="OnSettingsClose()"/>
      </div>
    }
  </div>
</app-expandable-header>