<app-expandable-header>
  <div class="flex gap-x-2 items-center" heading>
    <img id="filter-rule-heading-image" [src]="rule().imgSrc" class="w-[2.5rem] h-[2.5rem] rounded-md" draggable="false"> 
    <span draggable="false">{{rule().name}}</span>
    <span class="material-symbols-outlined text-[1.8rem] hover:text-[#333F]" (click)="Edit($event)" draggable="false">
      edit
    </span>
    <span class="material-symbols-outlined text-[1.8rem] hover:text-[#333F]" (click)="Delete($event)" draggable="false">
      delete
    </span>
  </div>

  <div content>
    @if (isInEditMode()) {
      <div class="border border-t-0 m-[0.3rem] mt-0 bg-[#222F] border-main rounded-b-md shadow-card">
        <div class="p-2 text-main">
          <app-rule-settings-form [rule]="rule()" (close)="OnSettingsClose()"/>
        </div>
      </div>
    }
  </div>
</app-expandable-header>
