<div class="relative w-full text-center justify-self-start font-mono text-[0.9rem] pl-1 
grid grid-cols-[auto_1fr] grid-rows-[auto_1fr] items-center col-start-1 row-start-1" #menu>
  <div [style]="{backgroundColor: '#905FCCFF', background: 'linear-gradient(to top left, #FFF4, transparent)'}" 
  class="text-[0.6rem] col-start-1 justify-self-start row-start-1 col-start-1 col-end-3 rounded-t-md pl-2 pr-2">
    Drop Sound
  </div>
  <div [style]="{backgroundColor: '#905FCCFF', background: 'linear-gradient(to bottom right, #FFF4, transparent)'}" 
  class="grid grid-cols-[auto_1fr_auto_1.5rem] gap-x-2 justify-items-center items-center bg-main w-full rounded-r-md rounded-bl-md
  col-start-1 col-end-3 row-start-2 h-[2rem] pl-2 border border-main shadow-[1px_1px_0px_1px_#111F]">
  <button class="h-[1.5rem] w-[1.5rem] flex justify-center items-center rounded-md shadow-[0px_0px_2px_0px_#111F] hover:bg-[#FFF1]" (click)="OpenVolumeMenu()">
    <span class="material-symbols-outlined text-[1.3rem]">
      @if (sound().volume === 0) {
        volume_mute
      }
      @else if (sound().volume > 170) {
        volume_up
      } @else {
        volume_down
      }
    </span>
  </button>
  <button class="w-full rounded-md h-[1.5rem] shadow-[0px_0px_2px_0px_#111F] hover:bg-[#FFF1]" (click)="OpenSoundMenu()">
    {{sound().sound}}
  </button>
  <button title="Play Sound" class="h-[1.5rem] w-[1.5rem] flex justify-center items-center rounded-md shadow-[0px_0px_2px_0px_#111F] hover:bg-[#FFF1]" (click)="PlaySelectedSound()">
    <span class="material-symbols-outlined text-[1.3rem]">
      play_arrow
    </span>
  </button>
  <div [style]="!sound().active ? {backgroundColor: '#AAAF', boxShadow: 'inset -2px 0px 4px 0px #000F'} : {backgroundColor: '#B07FFFFF', boxShadow: 'inset -2px 0px 4px -1px #111F'}" 
  class="w-[1.5rem] rounded-r-md h-full flex justify-items-center items-center cursor-pointer" (click)="SwitchActive()">
    <div class="hover:bg-[#FFF1] h-full w-full"></div>
  </div>
  </div>
</div>