<div class="w-full h-full grid justify-items-center overflow-y-scroll">
  <div [style]="{gridTemplateRows: 'repeat('+(sections.length + 1)+', auto)'}" class="w-full h-fit pr-2 pl-2 gap-y-8 grid">
    @for (section of sections; track section.id) {
      <app-filter-section [section]="section"/>
    }
    @if (authService.IsAdmin()) {
      <div class="border-t border-[#555F] pt-2 w-full">
        <div class="h-[4.5rem] bg-main w-full rounded-md cursor-pointer flex justify-center items-center hover:bg-mainBright" (click)="CreateSection()">
          <h3 class="text-[1.8rem] text-dark select-none cursor-pointer">
            Create Section
          </h3>
        </div>
      </div>
    }
  </div>
  <div>
    <app-color-picker-menu/>
    <app-icon-options-menu/>
    <app-sound-menu/>
    <app-play-effect-menu/>
  </div>
</div>