<div id="color-picker-menu" [style]="{top: pos.y + 'px', left: pos.x + 'px', display: isColorPickerOpen() ? 'grid' : 'none'}" 
class="w-[24rem] h-fit bg-[#333F] grid-cols-[1fr_auto_auto] grid-rows-[auto_auto_1fr] rounded-md absolute shadow-card p-2 gap-2" #menu>
  
  <div class="col-start-1 row-start-1 row-end-3 grid grid-cols-2 grid-rows-[1fr_auto]">
    <div [style]="{backgroundColor: ToRGBA()}" class="w-[1.5rem] h-[1.5rem]"></div> 
    <div class="col-start-2 text-[0.9rem] grid gap-y-1 grid-rows-[repeat(4,auto)_1fr] justify-items-end">
      <div>
        <span class="tracking-wide">R:</span>
        <input id="color-picker-input-r" type="text" [value]="value().r" class="w-[2.7rem] border rounded-md pl-2 border-[#666F] bg-transparent appearance-none 
        outline-none" (keydown)="OnRGBAInputKeyDown($event)" (input)="OnRGBInputEvent($event)">
      </div>
      <div>
        <span class="tracking-wide">G:</span>
        <input id="color-picker-input-g" type="text" [value]="value().g" class="w-[2.7rem] border rounded-md pl-2 border-[#666F] bg-transparent appearance-none 
        outline-none" (keydown)="OnRGBAInputKeyDown($event)" (input)="OnRGBInputEvent($event)">
      </div>
      <div>
        <span class="tracking-wide">B:</span>
        <input id="color-picker-input-b" type="text" [value]="value().b" class="w-[2.7rem] border rounded-md pl-2 border-[#666F] bg-transparent appearance-none 
        outline-none" (keydown)="OnRGBAInputKeyDown($event)" (input)="OnRGBInputEvent($event)">
      </div>
      <div>
        <span class="tracking-wide">A:</span>
        <input type="text" [value]="GetAlpha()" class="w-[2.7rem] border rounded-md pl-2 border-[#666F] bg-transparent appearance-none 
        outline-none" (keydown)="OnRGBAInputKeyDown($event)" (input)="OnAlphaInputEvent($event)">
      </div>
    </div>
    <div class="w-full flex gap-x-2 items-end font-mono col-start-1 row-start-2">
      <button class="bg-[#444F] hover:bg-[#555F] rounded-md shadow-card pl-2 pr-2" (click)="Save()">Ok</button>
      <button class="bg-[#444F] hover:bg-[#555F] rounded-md shadow-card pl-2 pr-2" (click)="Cancel()">Cancel</button>
    </div>
  </div>

  <div [style]="{background: GetGradColor()}" 
  id="color-picker-gradient" class="rounded relative w-[10rem] h-[10rem] row-start-1 col-start-2" (mousedown)="OnColorGradientMouseDown($event)">
    <div id="color-picker-gradient-selection-guide" [style]="{top: selector.y + 'px'}" class="absolute left-0 bg-black border-t border-b border-white w-full h-[3px]"></div>
    <div id="color-picker-gradient-selection-guide" [style]="{left: selector.x + 'px'}" class="absolute top-0 bg-black border-l border-r border-white w-[3px] h-full"></div>
  </div>

  <div class="row-start-2 col-start-2">
    <div id="color-picker-opacity-slider" class="w-full h-[0.75rem] rounded-md" (mousedown)="OnOpacitySliderMouseDown($event)" #opacitySlider>
      <div [style]="{background: GetOpacityGrad()}" class="w-full h-full rounded-md relative">
        <div [style]="{left: opacitySliderPos - 3 + 'px'}" class="absolute h-full w-[3px] bg-black border-l border-r border-white"></div>
      </div>
    </div>
  </div>

  <div class="col-start-3 row-start-1 row-end-3">
    <div id="color-picker-gradient-slider" class="w-[0.75rem] h-full rounded-md" (mousedown)="OnGradientSliderMouseDown($event)" #gradientSlider>
      <div class="w-full h-full rounded-md relative">
        <div [style]="{top: gradientSliderPos - 3 + 'px'}" class="absolute h-[3px] w-full bg-black border-t border-b border-white"></div>
      </div>
    </div>
  </div>

</div>