<div class="p-4 grid">
  <div class="flex gap-x-4">
    <button class="w-fit rounded-md p-2 bg-main text-dark shadow-card hover:bg-mainBright" (click)="UpdateCategories()">Update Base Categories</button>
    <button class="w-fit rounded-md p-2 bg-main text-dark shadow-card hover:bg-mainBright" (click)="UpdateItems()">Update Items</button>
  </div>
  <label class="mt-4 font-mono text-[0.9rem] text-main">PoE2 Base Item Categories</label>
  <div class="border border-main rounded-md h-[150px] p-2 overflow-scroll">
    <ul class="flex flex-wrap gap-2 font-mono text-[1.1rem] text-[#AAAF]">
      @for (category of baseCategories(); track $index) {
        <li class="rounded-md bg-[#444F] h-[2rem] flex gap-x-2 items-center pl-2 pr-2 
        shadow-card hover:text-white cursor-pointer" (click)="ShowCategoryInfo(category.id, 'base')">
          {{category.name}}
        </li>
      }
    </ul>
  </div>
  <label class="mt-4 font-mono text-[0.9rem] text-main">PoE2 Item Categories</label>
  <div class="border border-main rounded-md h-[150px] p-2 overflow-scroll">
    <ul class="flex flex-wrap gap-2 font-mono text-[1.1rem] text-[#AAAF]">
      <li class="h-[2rem]">
        @if (!isAddCategoryFormVisible()) {
          <button class="h-full rounded-md bg-[#444F] shadow-card hover:bg-[#4A4A4AFF] w-[4rem] pl-2 pr-2 flex items-center justify-center" (click)="ShowAddItemCategoryForm()">
            <span class="material-symbols-outlined w-[1.1rem] h-[1.1rem] text-[1.1rem]">
              add
            </span>
          </button>
        } @else {
          <form class="h-full grid grid-cols-[1fr_auto_auto] gap-x-1" [formGroup]="addCategoryForm" (submit)="AddCategory($event)">
            <input class="h-full w-[9rem] pl-2 rounded-md bg-[#444F] shadow-card outline-none" type="text" [formControl]="addCategoryForm.controls.name">
            <button type="submit" class="w-[2rem] h-[2rem] rounded-md shadow-card flex justify-center items-center bg-[#444F] hover:bg-[#4A4A4AFF]">
              <span class="material-symbols-outlined">
                check
              </span>
            </button>
            <button type="button" class="w-[2rem] h-[2rem] rounded-md shadow-card flex justify-center items-center bg-[#444F] hover:bg-[#4A4A4AFF]">
              <span class="material-symbols-outlined">
                close
              </span>
            </button>
          </form>
        }
      </li>
      @for (category of categories(); track $index) {
        <li class="rounded-md bg-[#444F] h-[2rem] flex gap-x-2 items-center pl-2 pr-2 
        shadow-card hover:text-white cursor-pointer"
        (click)="ShowCategoryInfo(category.id, 'custom')">
          {{category.name}}
        </li>
      }
    </ul>
  </div>

  <label class="mt-4 font-mono text-[0.9rem] text-main">PoE2 Items</label>
  <div class="border border-main rounded-md h-[150px] p-2 overflow-scroll">
    <ul class="flex flex-wrap gap-2 font-mono text-[1.1rem] text-[#AAAF]">
      @for (item of items(); track $index) {
        <li class="rounded-md bg-[#444F] h-[2rem] flex gap-x-2 items-center pl-2 pr-2 
        shadow-card hover:text-white cursor-pointer" (click)="ShowItemInfo(item)">
          {{item.name}}
        </li>
      }
    </ul>
  </div>

<app-category-item-info-pop-up/>