<div class="relative w-full select-none" #wrapper>
  <div id="filter-block-wrapper-heading-top" class="h-[2.25rem] bg-main w-full rounded-t-md cursor-pointer" 
  (mouseenter)="OnHover()" (mouseleave)="OnLeave($event)" (dragstart)="OnDragStart()" (click)="ToggleExpand()" draggable="true"></div>
  <h3 id="filter-block-wrapper-heading-content" class="absolute left-4 top-[0.5rem] flex 
  items-center gap-x-2 text-[1.8rem] select-none cursor-pointer text-dark" (click)="ToggleExpand()" (dragstart)="OnDragStart()" draggable="true">
    <img id="filter-block-wrapper-heading-image" [src]="block().imgSrc" class="w-[3.5rem] h-[3.5rem] rounded-md" draggable="false"> 
    <p draggable="false">{{block().name}}</p>
    @if (authService.IsAdmin()) {
      <span class="material-symbols-outlined text-[1.8rem] hover:text-[#333F]" (click)="EditBlock($event)" draggable="false">
        edit
      </span>
      <span class="material-symbols-outlined text-[1.8rem] hover:text-[#333F]" (click)="Delete()" draggable="false">
        delete
      </span>
    }
  </h3>
  <div [style]="{height: 0}" class="overflow-hidden" id="filter-block-wrapper-content">
  <div class="pl-4 pr-4 grid">
    @if (!isInEditMode()) {
      <div id="filter-rule-drag-target" [attr.data-block]="block().id" class="w-full grid justify-items-center pt-3 pb-3 h-fit" 
      [attr.data-dragPosition]="0" (dragover)="OnDragOver($event)" (dragleave)="OnMouseLeave($event)">
        <div class="w-[90%] h-[1px] pointer-events-none"></div>
      </div>
      @for (rule of block().rules; track rule.id) {
        @if (rule.type === 0) {
          <div class="w-full">
              <app-filter-rule [itemCategories]="block().allowedCategories" [ruleType]="block().rulesType" [rule]="CastToRule(rule)"/>
              <div id="filter-rule-drag-target" [attr.data-block]="block().id" class="w-full grid justify-items-center pt-3 pb-3 h-fit" 
              [attr.data-dragPosition]="$index + 1" (dragover)="OnDragOver($event)" (dragleave)="OnMouseLeave($event)">
                <div class="w-[90%] h-[1px] pointer-events-none"></div>
              </div>
          </div>
        } @else {
          <div class="w-full">
            <app-filter-rule-block [blockId]="block().id" [itemCategories]="block().allowedCategories" [rulesType]="block().rulesType" [ruleBlock]="CastToRuleBlock(rule)"/>
            <div id="filter-rule-drag-target" [attr.data-block]="block().id" class="w-full grid justify-items-center pt-3 pb-3 h-fit" 
            [attr.data-dragPosition]="$index + 1" (dragover)="OnDragOver($event)" (dragleave)="OnMouseLeave($event)">
            <div class="w-[90%] h-[1px] pointer-events-none"></div>
          </div>
        </div>
        }
      }
      <div class="flex gap-x-4">
        <div id="filter-rule-heading" class="h-[3rem] mb-[calc(1.5rem+1px)] text-[1.5rem] text-dark bg-main w-full rounded-md flex items-center justify-center 
        pl-4 hover:bg-mainBright cursor-pointer" (click)="CreateRule()">
          Create Rule
        </div>
        <div id="filter-rule-heading" class="h-[3rem] mb-[calc(1.5rem+1px)] text-[1.5rem] text-dark bg-main w-full rounded-md flex items-center justify-center 
        pl-4 hover:bg-mainBright cursor-pointer" (click)="CreateRuleBlock()">
          Create RuleBlock
        </div>
    </div>
    } @else {
      <div class="pt-4 pb-4">
        <app-block-settings-form [block]="block()" (close)="OnSettingsClose()"/>
    </div>
    }
  </div>
  </div>
  <div id="filter-block-wrapper-heading-bottom" class="h-[2.25rem] bg-main w-full rounded-b-md cursor-pointer" 
  (mouseenter)="OnHover()" (mouseleave)="OnLeave($event)" (dragstart)="OnDragStart()" (click)="ToggleExpand()" draggable="true"></div>
</div>