<div class="w-full grid">
  <h3 class="text-[2rem] mb-4 w-full text-[#888F] flex justify-center items-center gap-x-1 border-b border-[#555F]">
    <div class="outline-none" [contentEditable]="isInEditMode()" (keydown)="OnKeyDown($event)" (blur)="OnBlur()" #nameInput>{{section.name}}</div>
    @if (authService.IsAdmin()) {
      <span class="material-symbols-outlined text-[1.5rem] cursor-pointer hover:text-[#AAAF]" (click)="Edit()">
        edit
      </span>
      <span class="material-symbols-outlined text-[1.5rem] cursor-pointer hover:text-[#AAAF]" (click)="Delete()">
        delete
      </span>
    }
  </h3>
  <div id="filter-block-drag-target" [attr.data-section]="section.id" class="w-full grid justify-items-center pt-3 pb-3 h-fit" 
  [attr.data-dragPosition]="0" (dragover)="OnDragOver($event)" (dragleave)="OnMouseLeave($event)">
    <div class="w-[90%] h-[1px] pointer-events-none"></div>
  </div>
  <div class="pl-4 pr-4">
    @for (block of section.blocks; track block.id) {
      <div>
        <app-filter-block [block]="block"/>
        <div id="filter-block-drag-target" [attr.data-section]="section.id" class="w-full   grid justify-items-center pt-3 pb-3 h-fit" 
        [attr.data-dragPosition]="$index + 1" (dragover)="OnDragOver($event)" (dragleave)="OnMouseLeave($event)">
        <div class="w-[90%] h-[1px] pointer-events-none"></div>
      </div>
    </div>
    }
    @if (authService.IsAdmin()) {
      <div class="h-[4.5rem] bg-main rounded-md cursor-pointer grid justify-items-center items-center hover:bg-mainBright" (click)="CreateBlock()">
        <h3 class="text-[1.8rem] text-dark select-none cursor-pointer">
          Create Block
        </h3>
      </div>
    }
  </div>
</div>